.movies {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.movies__message-error {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #8b8b8b;
}