.burger-button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all linear 0.2s;
}

.burger-menu-button:hover {
    opacity: 0.8;
}