.portfolio {
    margin: 101px 0 125px;
}

.portfolio__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    color: #8b8b8b;
}

.portfolio__nav {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.portfolio__nav-list {
    padding-bottom: 19px;
    border-bottom: solid 1px #424242;
}

.portfolio__nav-list:last-of-type {
    border-bottom: none;
}

.portfolio__nav-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.04em;
    transition: all 0.2s linear;
}

.portfolio__nav-link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.portfolio__nav-arrow {
    background-image: url(../../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 18px;
    height: 18px;
}

@media screen and (max-width: 768px) {
    .portfolio {
        margin: 91px 0 90px;
    }

    .portfolio__nav-link {
        font-size: 28px;
        line-height: 1.2;
    }
}