.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 18px 0;
    width: 89.10%;
    margin: auto;
}

.header__account {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    text-decoration: none;
}

.header__account-button_green {
    text-decoration: none;
}

.header__account-register {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    transition: all 0.2s linear;
    text-decoration: none;
    color: #FFF;
}

.header__account-register:hover {
    opacity: 0.6;
    cursor: pointer;
}

.header__burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 0 18px 0;
        width: 94.28%;
        margin: auto;
    }

    .header__burger {
        display: flex;
        background-color: transparent;
        color: #202020;
        border: none;
        background-image: url(../../images/Burger.svg);
        width: 44px;
        height: 44px;
        transition: all linear 0.2s;
        cursor: pointer;
    }

    .header__burger:hover {
        opacity: .8;
    }
}

.header__menu {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity ease 0.7s;
}

.header__menu_opened {
    visibility: visible;
    opacity: .3;
}

.header__menu-container {
    display: none;
    position: absolute;
    width: 68%;
    height: 100vh;
    max-width: 1024px;
    background-color: #202020;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 159px;
    padding-bottom: 90px;
    z-index: 1;
}

.header__menu-container_opened  {
    display: block;
}

@media screen and (max-width: 500px) {
    .header {
        padding: 18px 0 18px 0;
        width: 93.80%;
        margin: auto;
    }

    .header__account {
        gap: 14px;
    }

    .header__account-register {
        font-size: 10px;
    }

    .header__burger {
        width: 40px;
        height: 43px;
    }

    .header__menu {
        width: 100%;
        padding-top: 144px;
        padding-bottom: 46px;
    }

    .header__menu-container {
        width: 100%;
    }
}